
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.flex-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.psuedo-height{
    &:after {content: "";   display: block;   padding-bottom: 100%; }
}

@mixin psuedo-height($height: 100%) {
    &:after {content: "";   display: block;   padding-bottom: $height; }
}